# Binaries
resonate-player
resonate-server
*.exe
*.dll
*.so
*.dylib
bin/
dist/

# Test binaries
*.test

# Coverage
*.out

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# OS
.DS_Store
Thumbs.db
output.txt
resonate-go
